---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Videos from '../components/Videos.astro';
import Ranking from '../components/Ranking.astro';
import Footer from '../components/Footer.astro';
---


<Layout title="SoloqChallenge">
	
	<main>
		
		<Header/>
		<Videos/>
		<Ranking/>
		<Footer/>
	</main>		
		  
</Layout>

