---
const platform = "github";
const username = "adrimax11";
---

  <footer>
    <p class="bg-zinc-900 text-white flex p-4 m-2">© Copyright 2019-2024 <strong class="text-red-300"><a href="#">&nbsp;SoloQChallenge</a></strong>. Todos los derechos reservados.</p>
  </footer>
